<div class="container-sm">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h3 class="navbar-brand">Projetos</h3>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-primary mx-2" href="/projeto/cadastrar">
                        <i class="fa-solid fa-plus"></i> Novo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/">
                        <i class="fa-solid fa-angle-left"></i> Voltar
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped">
        
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Prazo</th>
            <th>Ações</th>
        </tr>

        {{#each projetos}}

            <tr>
                <td>{{id}}</td>
                <td>{{nome}}</td>
                <td>{{descricao}}</td>
                <td>{{prazo}}</td>
                <td>
                    <a href="/projeto/editar/{{id}}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="/projeto/excluir/{{id}}" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <h5>Tarefas</h5>
                    <ul>
                        {{#each Tarefas}}
                            <li>{{descricao}}</li>
                        {{/each}}
                    </ul>
                    <form action="/projeto/tarefa/adicionar/{{id}}" method="POST">
                        <input type="text" name="descricao" placeholder="Nova tarefa" required>
                        <button type="submit" class="btn btn-sm btn-success">Adicionar Tarefa</button>
                    </form>
                </td>
            </tr>

            <tr>

                <td colspan="5">
                    <h5>Comentarios 
                        {{#each Comentarios}}
                            do projeto: <span>{{projetoId}}</span>
                        {{/each}}
                    </h5>
                    
                    <ul>
                        {{#each Comentarios}}
                            <li>{{descricao}} 
                                <a href="/comentario/excluir/{{id}}" class="btn btn-sm btn-danger">Excluir</a>
                                <a href="/comentario/editar/{{id}}" class="btn btn-sm btn-warning">Editar</a>
                            </li>
                            
                        {{/each}}
                    </ul>
                    
                    <form action="/projeto/comentario/adicionar/{{id}}" method="POST">
                        <input type="text" name="descricao" placeholder="Novo comentario" required>
                        <button type="submit" class="btn btn-sm btn-success">Adicionar comentario</button>
                    </form>
                </td>

            </tr>
            
        {{/each}}
    </table>
</div>
