<div class="container-sm">
    <nav class="navbar bg-body-tertiary">
        <div class=" container-fluid">
            <h3 class="navbar-brand">PROJETOS</h3>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-primary mx-2" href="../projeto/cadastrar"><i class="fa-solid fa-angle-left "></i>VOLTAR</a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped">
        <tr>
            <th class="col-1">ID</th>
            <th class="col-5">NOME</th>
            <th class="col-2">DESCRIÇÃO</th>
            <th class="col-2">PRAZO</th>
            <th class="col-2"></th>
        </tr>
        {{#each projeto}}
            <tr>
                <td>{{id}}</td>
                <td>{{nome}}</td>
                <td>{{descricao}}</td>
                <td>{{prazo}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" onclick="excluirPojeto({{id}})"><i class="fa-solid fa-trash-can"></i>EXCLUIR<button>
                    <a class="btn btn-sm btn-outline-primary" href="../projeto/cadastrar">EDITAR</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div> 